<%- include("partials/header"); %>
<form action="/posts" method="post">
    <div class="login-container">
    <input type="text" name="title" placeholder="title">
    <br><br>
    <input type="text" name="author" placeholder="author">
    <br><br>
    <button type="submit">submit</button>
    </div>
</form>

<%- include("partials/footer"); %>